#### Applicaitions
apps/docsite @microsoft/cxe-prg

#### Packages
packages/react-chat/ @microsoft/teams-prg
packages/react-data-grid-react-window/ @microsoft/teams-prg
packages/react-shadow/ @microsoft/teams-prg
packages/nx-plugin/ @microsoft/teams-prg @microsoft/fluentui-react-build
packages/react-tree-grid/ @microsoft/teams-prg
packages/react-data-grid-react-window-grid/ @microsoft/ms-fabric
packages/react-draggable-dialog/ @microsoft/cxe-prg @marcosmoura
packages/pierce-dom/ @spmonahan
packages/houdini-utils @microsoft/teams-prg
packages/react-headless-provider/ @microsoft/teams-prg
packages/react-resize-handler/ @microsoft/teams-prg
packages/stylelint-plugin/ @microsoft/teams-prg
packages/react-themeless-provider/ @spmonahan
packages/azure-theme/ @microsoft/azure-ux-design-engineering
packages/variant-theme @microsoft/fluentui-variant-theme
packages/react-keytips @microsoft/cxe-prg @mainframev
packages/react-interactive-tab @microsoft/cxe-prg @dmytrokirpa
# <%= NX-CODEOWNER-PLACEHOLDER %>

#### Build/Infra
/tools/ @microsoft/fluentui-react-build
/.github/ @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/beachball.config.js @microsoft/fluentui-react-build
/beachball.hooks.js @microsoft/fluentui-react-build
/babel.config.json @microsoft/fluentui-react-build
/jest.config.ts @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/nx.json @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.prettierignore @microsoft/fluentui-react-build
/.prettierrc @microsoft/fluentui-react-build
/.editorconfig @microsoft/fluentui-react-build
/.eslintignore @microsoft/fluentui-react-build
/.eslintrc.json @microsoft/fluentui-react-build
/.yarnrc @microsoft/fluentui-react-build
/.yarn/ @microsoft/fluentui-react-build

#### License and READMEs
/LICENSE @microsoft/teams-prg @microsoft/fluentui-react-build
/README.md @microsoft/teams-prg @microsoft/fluentui-react-build
/CONTRIBUTING.md @microsoft/teams-prg @microsoft/fluentui-react-build
/CODE_OF_CONDUCT.md @microsoft/teams-prg @microsoft/fluentui-react-build
/SECURITY.md @microsoft/teams-prg @microsoft/fluentui-react-build
/SUPPORT.md @microsoft/teams-prg @microsoft/fluentui-react-build
