name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  NX_PARALLEL: 2 # ubuntu-latest = 2-core CPU / 7 GB of RAM
  NX_VERBOSE_LOGGING: true

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@dbe0650947e5f2c81f59190a38512cf49126fe6b # v4.3.0

      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: '20'

      - run: yarn install --frozen-lockfile

      - name: 'Check duplicates in yarn.lock'
        run: yarn run dedupe --list --fail

      - run: yarn check-dependencies

      - name: 'Check version plans'
        run: yarn nx release plan:check

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - run: yarn nx affected --target=verify-integrity
      - run: yarn nx affected --target=build
      - run: yarn nx affected --target=build-storybook
      - run: yarn nx affected --target=type-check
      - run: yarn nx affected --target=lint
      - run: yarn nx affected --target=test
      - name: Playwright Component tests
        id: playwright-tests
        run: yarn nx affected --target=component-test --skipInstall
      - run: yarn nx format:check --base origin/main

      - name: Upload Playwright artifacts
        uses: actions/upload-artifact@v4
        if: always() && steps.playwright-tests.outcome == 'failure'
        with:
          name: playwright-traces
          path: dist/.playwright/**/*.zip
          include-hidden-files: true
          retention-days: 1

      - name: 'Check for unstaged changes'
        run: |
          git status --porcelain
          git diff-index --quiet HEAD -- || exit 1
